doctype html
html(lang='ru-UA')
    head
        meta(charset='UTF-8')
        title Готовые шторы | Купить в Киеве с доставкой по Украине
        link(rel="canonical" href="https://www.drapesdesign.com.ua/shop")
        link(rel="alternate" hreflang="ru" href="https://www.drapesdesign.com.ua/shop")
        meta(name='robots', content='index, follow')
        meta(name='description', content='Купить готовые Шторы в интернет-магазине Drapesdesign | Авторский дизайн | Постоянные акции и скидки за 2-е и 3-е окно - индивидуальный пошив')
        meta(name='keywords', content='шторы Киев, пошив штор, дизайн штор, купить шторы, шоры на заказ, шторы под заказ, шторы для спальни, шторы для кухни, шторы для гостинной, шторы для ванной')
        meta(property='og:type', content='product.group')
        meta(property='og:locale', content='ru-UA')
        meta(property='og:title', content='Готовые шторы | Купить в Киеве с доставкой по Украине')
        meta(property='og:description', content='Купить готовые Шторы в интернет-магазине Drapesdesign | Авторский дизайн | Постоянные акции и скидки за 2-е и 3-е окно - индивидуальный пошив')
        meta(property='og:url', content='https://www.drapesdesign.com.ua/shop')
        meta(property='og:site_name', content='drapesdesign.com.ua')
        meta(property='og:image', content='https://drapesdesign.com.ua/images/drapesdesign_share.jpg')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='icon', type='image/x-icon', href='https://www.drapesdesign.com.ua/images/fav.png')
        link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&display=swap&subset=cyrillic', rel='stylesheet')
        link(rel='stylesheet', href='../styles/styles.css')
        // Facebook Pixel Code
        script.
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1259970147710795');
            fbq('track', 'PageView');
        noscript
            img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=1259970147710795&ev=PageView&noscript=1')
        // End Facebook Pixel Code
    body#body
        .l-wrapper.d-shop
            include ../components/topbar
            include ../components/header
            +header('')
            include ../components/modal
            +modal('Сделать заказ', 'Оставьте контактные данные и мы свяжемся с Вами в ближайшее время для для выяснения деталей заказа', 'Отправить')
            main
                section.d-section.d-section--hero.d-section--shop
                    .d-section__content
                        h1.d-section__title Магазин готовых изделий
                        .d-section__row
                            h3.d-section__description
                                | В магазине представлены готовые модели штор, которые можно приобрести прямо сейчас с доставкой на дом, а также заказать бесплатную установку на карниз.
                                br
                                br
                                | Если среди представленных моделей не нашлось подходящей, воспользуйтесь контактной формой, чтобы оставить заявку на разработку индивидуального пошива.
                            .d-section__col
                                include ../components/contact-form
                                +contact-form('Оставить заявку', true)
                        a.d-section__arrowBtn(href="#products")
                            i.fas.fa-arrow-down.animated.bounceDown.infinite
                section.d-section#products
                    include ../components/banner
                    include ../components/breadcrumbs
                    +banner('Скидки только до конца осени на модели с отметкой -15%. Акция действует до 30.11.2020. ', '#')
                    +breadcrumbs('Магазин')
                    .d-section__content
                        .d-tiles
                            - var products = drapesList
                            ul.d-tiles__list
                                each product in products
                                    li.d-tiles__item
                                        .d-tiles__itemContent
                                            span(class="d-badge d-badge--"+ product.badge.type)=product.badge.title
                                            a.d-button.d-button--primary.d-button--small.d-tiles__itemMoreBtn(href='https://www.drapesdesign.com.ua/shop/'+product.val) Подробнее
                                            img(src='../images/shop/'+product.val+'/'+product.images[0], alt=product.title)
                                        .d-tiles__itemInfo
                                            h4.d-tiles__itemTitle=product.title
                                            .d-tiles__itemPrice
                                                span.d-tiles__itemPriceOld=product.priceOld
                                                span.d-tiles__itemPriceNew=product.priceNew
                                            a.d-button.d-button--inversed.d-button--icon.js-modal-open
                                                i.fas.fa-shopping-cart
                                                span=product.action
                            .d-preview.js-preview.is-hidden
                                .d-preview__nav
                                    button.d-preview__navBtn.d-preview__navBtn--prev
                                    button.d-preview__navBtn.d-preview__navBtn--next
                                button.d-preview__btn.js-preview-close
                                .d-preview__content
                                    img.d-preview__img(src='#', alt='Preview image')
        include ../components/footer
        include ../components/scroll-top
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='https://kit.fontawesome.com/6d0f4a8850.js', crossorigin='anonymous')
        script(src="//code.jivosite.com/widget/3Nay3paAEO" async)
        script(src='../js/script-min.js')
        script.
